<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.proj.sustc.mapper.ModelMapper">
    <resultMap id="ModelEntityMap" type="com.proj.sustc.entity.Model">
        <id column="id" property="id"></id>
        <result column="model" property="model"></result>
        <result column="unit_price" property="unitPrice"></result>
        <result column="product_number" property="productNumber"></result>
    </resultMap>

    <resultMap id="ProductEntityMap" type="com.proj.sustc.entity.Product">
        <id column="id" property="id"></id>
        <result column="number" property="number"></result>
        <result column="name" property="name"></result>
    </resultMap>

    <select id="selectModelByModelNumber" resultMap="ModelEntityMap">
        SELECT * FROM model WHERE model = #{model}
    </select>

    <insert id="insertModel">
        INSERT INTO model (model, unit_price, product_number) values (#{model}, #{unitPrice}, #{productNumber})
    </insert>

    <select id="selectProductByNumber" resultMap="ProductEntityMap">
        SELECT * FROM product WHERE number = #{number}
    </select>

    <insert id="insertProduct">
        INSERT INTO product (number, name) values (#{number}, #{name})
    </insert>

    <select id="SelectAllModel" resultMap="ModelEntityMap">
        select * from model;
    </select>

    <delete id="DeleteModel">
        DELETE FROM model  where model=#{model}
    </delete>

    <resultMap id="Integer" type="java.util.Map">
        <id column="id" property="id"></id>
    </resultMap>

    <select id="SelectMaxId" resultMap="Integer">
        select max(m.id) as id from model m
    </select>
</mapper>