<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org" >
<head>
    <script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/md5.min.js}"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <style>
        body{
            background-image: url("https://raw.githubusercontent.com/zeroojs/landing-ux/cbf6461ef05f9d1c00b70e190fdcc4bd858a7a48/img/register.svg");
        }
    </style>
    <title>ChangePassword</title>
</head>
<body>
NewPassword<input type="text" id="NewPassword" name="NewPassword">
ConfirmNewPassword<input type="text" id="ConfirmNewPassword" name="ConfirmNewPassword">
<button th:type="button" id="ChangePasswordbtn" onclick="ChangePasswordbtn()">修改密码</button>

</body>
<script>
    function ChangePasswordbtn(){

        var InputNewPassword=$("#NewPassword").val();
        var InputConfirmNewPassword=$("#ConfirmNewPassword").val();

        var salt="1a2b3c4d";
        var str = "" + salt.charAt(0) + salt.charAt(2) + InputNewPassword +
            salt.charAt(5) + salt.charAt(4);
        var NewPassword = md5(str);


        var str1 = "" + salt.charAt(0) + salt.charAt(2) + InputConfirmNewPassword +
            salt.charAt(5) + salt.charAt(4);
        var ConfirmNewPassword = md5(str1);


        $.ajax({
                url: "/Update/UpdatePassword",
                type: "POST",
                data: {
                    NewPassword: NewPassword,
                    ConfirmNewPassword:ConfirmNewPassword
                },
                success: function (Data) {
                    if(Data.code == 500){
                        <!-- 跳转后端处理-->
                        window.alert(Data.message);
                    }
                    else {
                        window.alert(Data.message);
                    }
                }
                ,error :
                    function () {
                        window.alert("服务器出现问题");
                    }
            }
        );





    }


</script>


</html>