<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
>
<head>
    <script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search</title>
    <style>
        body{
            background-image: url("https://raw.githubusercontent.com/zeroojs/landing-ux/cbf6461ef05f9d1c00b70e190fdcc4bd858a7a48/img/register.svg");
        }
    </style>
</head>
<body>
<form>
    StockModel<input type="text" id="FindModel" name="FindModel">
    SupplyCenter<input type="text" id="SupplyCenter" name="SupplyCenter">
    <button th:type="button" id="FindStockInRecord" onclick="FindStockRecord()">查询库存产品</button>
</form>

</body>
<script>
    function FindStockRecord(){
        var StockModel=$("#FindModel").val();
        var SupplyCenter=$("#SupplyCenter").val();
        $.ajax({
                url: "/Select/SelectModel",
                type: "POST",
                data: {
                    StockModel: StockModel,
                    SupplyCenter: SupplyCenter
                },
                success: function (Data) {
                    if(Data.code == 500){
                        <!-- 跳转后端处理-->
                        window.location.href="/Decision/doSelectStockModel";
                    }
                    else {
                        window.alert(Data.message);
                    }
                }
                ,error :
                    function () {
                        window.alert("服务器出现问题");
                    }
            }
        );



    }

</script>

</html>