<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      >
<head>
    <script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search</title>
    <style>
        body{
            background-image: url("https://raw.githubusercontent.com/zeroojs/landing-ux/cbf6461ef05f9d1c00b70e190fdcc4bd858a7a48/img/register.svg");
        }
    </style>
</head>
<body>
<form>
    Model<input type="text" id="FindModel" name="FindModel">
    <button th:type="button" id="DeleteModel1" onclick="DeleteModel()">下架产品</button>
</form>

</body>
<script>
   function DeleteModel(){
       var StockModel=$("#FindModel").val();
       $.ajax({
               url: "/Delete/DeleteModel",
               type: "POST",
               data: {
                   StockModel: StockModel,
               },
               success: function (Data) {
                   if(Data.code == 500){
                       <!-- 跳转后端处理-->
                     window.alert(Data.message);
                   }
                   else {
                       window.alert(Data.message);
                   }
               }
               ,error :
                   function () {
                       window.alert("服务器出现问题");
                   }
           }
       );

   }

</script>

</html>