

<!DOCTYPE html  PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd" >
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order</title>

</head>
<body>

<table table align="center" border="1">
    <thead>
    <tr>
        <td>product_model</td>
        <td>contract_number</td>
        <td>salesman_number</td>
        <td>quantity</td>
        <td>estimate_delivery_date</td>
        <td>lodgement_date </td>
    </tr>
    </thead>
    <tbody></tbody>
</table>

<input type="hidden" id="list" name="list" th:value="${ordersList}">

<script>
    var max=$("#list").val();
    console.log(max);
    var obj=JSON.parse(max);

    for(var i=0;i<obj.length;i++) {
        var tbody = document.querySelector('tbody');
        var tr = document.createElement('tr');
        tbody.appendChild(tr);
        var td1 = document.createElement('td');
        tr.appendChild(td1);
        td1.innerHTML = obj[i].productModel;

        var td2 = document.createElement('td');
        tr.appendChild(td2);
        td2.innerHTML = obj[i].contractNumber;

        var td3 = document.createElement('td');
        tr.appendChild(td3);
        td3.innerHTML = obj[i].salesmanNumber;

        var td4 = document.createElement('td');
        tr.appendChild(td4);
        td4.innerHTML = obj[i].quantity;

        var td5 = document.createElement('td');
        tr.appendChild(td5);
        td5.innerHTML = obj[i].estimatedDeliveryDate;

        var td6 = document.createElement('td');
        tr.appendChild(td6);
        td6.innerHTML = obj[i].lodgementDate;


    }
</script>

</body>
</html>